.ulmio {
	list-style-type: none;
}
.imgcomentarios {
	border-radius: 50%;
	width: 500px;
}

form{ 
	font-size: 20px;	
}

input, textarea{
	background-color:$background-color_1;
	border: 1px solid black;
	}

	::placeholder{
		color: rgb(39, 31, 31);
	}