.imgreglamento{
    width: 600px;
    height: 350px;
}


@mixin parrafos{
    font-size: 1.2rem;
    

}

p{
    @include parrafos;
    &:hover{
        font-weight: bolder;
        font-size: larger; 
        color: $color_2;  
        transition: 4s;
    }

}


